<section class="features">
  <div class="container features__wrapper">
    <div class="features__text-wrapper">
      <p class="suptitle suptitle--light-theme">старая традиционная школа</p>
      <h2 class="title title--light-theme features__title">Почему приходят именно к нам?</h2>
      <p class="features__text">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.
      </p>
    </div>
    <div class="features__card-wrapper">
      <ul class="features__list">
        <li class="features__item">
          <span class="features__num features__num--more">600</span
          ><span class="features__desc">Довольных клиентов в день</span>
        </li>
        <li class="features__item">
          <span class="features__num features__num--less">50</span
          ><span class="features__desc">Наград за отличный сервис </span>
        </li>
        <li class="features__item">
          <span class="features__num features__num--less">20</span
          ><span class="features__desc">Лучших мастеров Киева </span>
        </li>
        <li class="features__item">
          <span class="features__num features__num--more">100</span
          ><span class="features__desc">Подарков постоянным клиентам</span>
        </li>
      </ul>
    </div>
  </div>
</section>
