<div class="section__background">
  <section class="prices">
    <div class="container">
      <p class="suptitle suptitle--dark-theme">Проведи время в компании лучших мастеров</p>
      <h2 class="title title--dark-theme prices__title">Услуги и цены</h2>
      <div class="prices__wrapper">
        <ul class="prices__left-list">
          <li class="prices__item">
            <span class="prices__name">Мужская стрижка</span
            ><span class="prices__cost">от 300 грн.</span>
          </li>
          <li class="prices__item">
            <span class="prices__name">Стрижка бороды</span
            ><span class="prices__cost">от 200 грн.</span>
          </li>
          <li class="prices__item">
            <span class="prices__name">Стрижка усов</span
            ><span class="prices__cost">от 200 грн.</span>
          </li>
          <li class="prices__item item__forth">
            <span class="prices__name">Бритье опасной бритвой</span
            ><span class="prices__cost">от 200 грн.</span>
          </li>
        </ul>
        <ul class="prices__right-list">
          <li class="prices__item">
            <span class="prices__name">Cтрижка у стажера</span
            ><span class="prices__cost">от 50 грн.</span>
          </li>
          <li class="prices__item">
            <span class="prices__name">Стрижка под насадку</span
            ><span class="prices__cost">от 200 грн.</span>
          </li>
          <li class="prices__item">
            <span class="prices__name">Детская стрижка (до 12 лет)</span
            ><span class="prices__cost">от 300 грн.</span>
          </li>
          <li class="prices__item">
            <span class="prices__name">Камуфлирование седины</span
            ><span class="prices__cost">от 200 грн.</span>
          </li>
        </ul>
      </div>
      <a class="button button--dark-theme prices__button scrollto" href="#contacts"
        >онлайн-запись</a
      >
    </div>
  </section>
</div>
