.suptitle {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  @include font(11px, 600, 15px);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.suptitle--light-theme {
  color: var(--title-color-light-theme);
  &::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 60px;
    transform: rotate(90deg);
    margin-bottom: 20px;
    color: var(--title-color-light-theme);
  }
}

.suptitle--dark-theme {
  color: var(--subtitle-color-dark-theme);
  &::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 60px;
    transform: rotate(90deg);
    margin-bottom: 20px;
    color: var(--subtitle-color-dark-theme);
  }
}
